<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="layout/css/style.css">

    <script src="layout/lib/hypher.js"></script>
    <script src="layout/lib/hypher-en-us.js"></script>
    <script src="layout/lib/opencv.js"></script>

    <title>text layout</title>
</head>
<body>
    <button id="button-send-layout"></button>
    <canvas id="canvas" resize></canvas>
    <video id="video" width="640" height="480"></video>

    <script src="layout/scripts/main.js" type="module"></script>
</body>
</html>
